@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    color: #4D4D4D;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-inline: 100px;

}

.logo{
    width: 107px;

}

.navbar a {
    text-decoration: none;
    margin-left: 16px;
    font-size: 12px;
    
}



.nav-btn {
    background-color: #4CAF4F;
    
    padding: 10px 22px;
    border-radius: 3px;
    text-decoration: none;
}

.nav-btn span {
    color: #fff;
    font-size: 12px;
}

.nav-btn img {
    margin-left: 6px;
}

.banner {
    display: flex;
    justify-content: space-between;
    padding-inline: 100px;
    height: 416px;
    align-items: center;
    background-color: #F5F7FA;
    
}

.banner-title {font-size: 45px;
margin-block: 10px;}

.banner-subtitle {
    color: #4CAF4F;
}

.banner-info {font-size: 12px;
margin: 10px 0 33px;
}

.banner-img {width: 272px;}



